body {
    box-sizing: border-box;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    font-family: 'Dokdo', cursive;
  }
  
  #opponent-grid {
    width: 1000px;
    text-align: center;
  }
  
  
  table {
    margin: 0 auto;
    background: url('https://cdn.pixabay.com/photo/2017/02/10/18/57/sea-2055969_1280.jpg');
    color: white;
    border-collapse: collapse;
  }

  #opponent th {
    border: 1px solid white;
    width: 50px;
    height: 50px;
    background-color: black;
  }
  
  .opponent-grid {
    border: 1px solid white;
    width: 50px;
    height: 50px;
    margin: 0;
  }
  
  .hit {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: red;
    margin: 0 auto;
  }
  
  .miss{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: white;
    margin: 0 auto;
  }
  
  #equation-col {
    display: flex;
    width: 400px;
    flex-direction: column;
  }
  
  #equation {
    font-size: 52px;
  }
  
  #answer {
    height: 50px;
    width: 100px;
    margin-bottom: 5px;
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
  }
  
  #wrong-answer {
    opacity: 0;
    font-size: 48px;
    margin: 0;
    color: red;
    transition: opacity 0.5s;
  }
  
  #equation-col input.wrong-answer {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    border: 3px solid red;
    transition:perspective;
  }
  
  button {
    height: 50px;
    font-size: 25px;
    margin-bottom: 5px;
    border: 1px solid black;
    font-family: 'Dokdo', cursive;
    vertical-align: middle;
  }
  
  button:hover{
    box-shadow: 2px 1px 5px black;
  }
  
  button[type=submit]:focus{
    outline-width: medium;
  }
  
  #legend {
    width: 90%;
    margin: 0;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
  }
  
  #legend td {
    border: 1px solid white;
    width: 100px;
    height: 10px;
    color: white;
    text-align: center;
  }
  
  #winner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 75px;
    color: black;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s;
  }
  
  #title {
    font-size: 58px;
    margin: 0;
  }
  
  #faq {
    width: 90%;
    margin-top: 10px;
    background-color: white;
    box-shadow: 1px 1px 15px black;
    padding: 10px;
  }
  
  #faq-list {
    font-size: 18px;
  }
  
  #equation-col h2, p {
    text-align: center;
  }
  
  
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }